* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url("http://localhost:8080/images/aboutPage/bg.png");
	background-size: auto;
	height: 100vh;
}

main.ab {
	font-family: "Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1em;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main > section {
	width: 100%;
}

.devs-devs-devs {
	background-color: black;
	background-image: url("http://localhost:8080/images/aboutPage/bg.png");
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 10px;
}

.devs-devs-devs div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

.devs-devs-devs img:hover {
	filter: grayscale(0%);
	transform: scale(1);
}

.devs-devs-devs img {
	width: 200px;
	height: 200px;
	cursor: pointer;
	transition: all 0.25s ease-out;
	transform: scale(.7);
	filter: grayscale(100%);
}

.devs-devs-devs p {
	font-size: 1.7em;
	color: var(--primary);
}

#developer-developer-developer {
	width: 100%;
}