@font-face {
	font-family: "omoriFont";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/OMORI_GAME2.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#myBody {
	background-color: #e7e7e7;
	font-family: omoriFont, sans-serif;
	position: relative;
}

.mycontainer {
	width: 100%;
	margin: auto;
	line-height: 1.3;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mycontainer video {
	position: absolute;
	width: 100%;
	height: 100vh;
	object-fit: cover;
}

.mycontainer > * {
	width: 75%;
}

.personalInfo_armor {
	display: grid;
	grid-template-columns: 30%;
	grid-template-rows: 21%;
	background-color: white;
	opacity: 0.95;
	height: 320px;
	margin: auto;
}

.personalInfo_armor #title {
	font-size: 60px;
	grid-column: 2/3;
	grid-row: 1;
	text-align: center;
	padding: 0 10px 0 10px;
	color: black;
	font-weight: 600;
}

.personalInfo_armor #description {
	grid-column: 2/3;
	grid-row: 2;
	font-size: 30px;
	text-align: center;
	padding: 0 10px 0 10px;
}

.personalInfo_armor .propic {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-row: 1/3;
}

.personalInfo_armor #portrait {
	height: 300px;
	width: 315px;
	border-radius: 20px;
}

.favorite_things_armor {
	display: flex;
	justify-content: space-around;
	background: white;
	opacity: 0.95;
	padding: 30px;
}

.favorite_things_armor img {
	color: black;
	font-size: 50px;
	height: 160px;
	border-radius: 10px;
	transition: transform 0.5s, box-shadow 0.5s;
}

.favorite_things_armor img:hover {
	box-shadow: 0 5px 10px 5px #888888;
	transform: scale(1.05);
}

.social_link_armor {
	padding-top: 20px;
	display: flex;
	justify-content: space-evenly;
	background: white;
	opacity: 0.95;
}

.social_link_armor .social_list {
	list-style: none;
}

.social_link_armor .img_social {
	list-style: none;
	height: 50px;
	width: 50px;
	transition: transform 0.5s, box-shadow 0.5s;
}

.social_link_armor .img_social:hover {
	box-shadow: 0 5px 10px 5px #888888;
	transform: scale(1.05);
}

@media ( max-width: 1450px ) {
	.personalInfo_armor {
		display: block;
		background-color: white;
		opacity: 0.95;
		height: auto;
	}

	.mycontainer video {
		height: 100%;
	}


}

@media ( max-width: 560px ) {

	.personalInfo_armor #portrait{
		height: 200px;
		width: 220px;
	}

	.favorite_things_armor {
		display: grid;
		justify-content: center;
		margin: auto;
	}
}
