* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    padding-top: 25px;
    width: 75%;
    margin: auto;
    line-height: 1.5;
    display: grid;
}

.info-grid {
    margin: auto;
    background-color: white;
    border-radius: 20px;
}


.game-list {
    margin: 50px auto auto;
    background-color: white;
    border-radius: 25px 25px 0px 0px;
}

.game-list h1 {
    text-align: center;
    border-width: 0 0 5px 0;
    border-style: solid;
    border-color: #9966cc;
}

.logoGenere {
    width: 20%;
    display: flex;
    margin: auto;
}

.card-coming-soon .info-container {
    font-size: 45px;
    font-weight: 600;
    font-family: system-ui, sans-serif;
    background: -webkit-linear-gradient(#3c4aff, #f454ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.genreName {
    font-size: 40px;
    font-weight: 100;
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
    background-color: #9966cc;
    border-radius: 15px;
}

.list {
    list-style-type: none;
    font-size: 16px;
}

.game-title {
    font-weight: bolder;
}

.game-card {
    display: grid;
    grid-template-columns: 1fr 4fr auto;
    margin: 22px;
    background: white;
    align-items: center;
    border-radius: 10px;
    padding: 8px;
    min-height: 130px;
    transition: all 0.3s ease;
}


.game-card:hover {
    box-shadow: 5px 5px 3px 3px #888888;
    transform: translateY(-20px);

}

.game-card img {
    border-radius: 5px;
}

.game-card > a:last-of-type {
    border-color: #3B1162;
    border-radius: 8px;
    background-color: #9966cc;
    text-decoration: none;
    color: white;
    padding: 8px 20px;
    transition: all 0.3s ease;
    font-weight: 600;
}

.game-card > a:hover {
    background-color: #3B1162;
}


.column {
    float: left;
    width: 50%;
    padding: 10px;
    background: aliceblue;
}

@media (min-device-width: 280px) and (max-device-width: 640px) {
    main.container {
        width: 100vw;
    }

    .game-card img {
        height: 12vh;
    }

    .logoGenere {
        display: none
    }

    .game-card {
        height: 30vh;
        grid-template-columns: none;
        place-items: center;
    }

    .list {
        font-size: 1.4vh;

        text-align: center;
    }
}
@media (min-device-width: 768px) and (max-device-width: 1024px) {
    main.container {
        width: 100vw;
    }

    .game-card img {
        height: 12vh;
    }

    .logoGenere {
        display: none
    }

    .game-card {
        height: 30vh;
        grid-template-columns: none;
        place-items: center;
    }

    .list {
        font-size: 1.4vh;
        text-align: center;
    }
}
