*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e7e7e7;
    font-family: "Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1em;
}

.container{
    padding-top: 25px;
    width: 75%;
    margin:auto;
    line-height: 1.5;
}

.info-grid{
    display: grid;
    grid-template-columns: 30% 60% auto;
    grid-template-rows: 40% auto;
    margin: auto;
    background-color: white;
    height: 320px;
}

.casa-vg{
    grid-column: 2/4;
    grid-row: 1;
}

.casa-vg h1{
    border-width: 0 0 15px 0;
    border-style: solid;
    border-color: #9966cc;
}

.info-uno, .info-due{

    text-align: center;

}


.dev-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/3;
}

.dev-logo img{
    max-height: 150px;
    max-width: 250px;
}

.info-casa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    padding-top: 10px;
    grid-column: 2;
    grid-row: 2;
}


.lista-giochi{
    margin: auto;
    margin-top: 50px;
    background-color: white;

}

.lista-giochi h1{
    padding-top: 1%;
    text-align: center;
    border-width: 0 0 5px 0;
    border-style: solid;
    border-color: #9966cc;
}

.dev-logo-game{
    padding: 1% 1% 0 1%;
}

.gioco-1{
    display: -webkit-box;
}

.altre-info{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: baseline;
    padding-top: 1%;
}

.altre-info a{
    text-decoration: none;
    color: #121212;
    font-weight: 600;
    text-align: center;
}

