*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e7e7e7;
    font-family: "Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1em;
}

.container{
    padding-top: 25px;
    width: 75%;
    margin:auto;
    line-height: 1.5;
}

.info-grid{
    display: grid;
    grid-template-columns: 30% 60% auto;
    grid-template-rows: 40% auto;
    margin: auto;
    background-color: white;
    height: 320px;
    border-radius: 25px;
}

.casa-vg{
    grid-column: 2/4;
    grid-row: 1;
}

.casa-vg h1{
    border-width: 0 0 15px 0;
    border-style: solid;
    border-color: #9966cc;
    text-transform: uppercase;
    padding-top: 10px;
    overflow-wrap: anywhere;
}

.info-uno, .info-due{
    text-align: center;
}


.dev-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/3;
}

.dev-logo img{
    max-width: 180px;
    max-height: 250px;
}

.info-casa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    padding-top: 10px;
    grid-column: 2;
    grid-row: 2;
}

#website .material-icons{
    background-color: #9966cc;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 40px;
}

#website .material-icons:hover{
    background-color: #801dc4;
}



.lista-giochi{
    margin: 50px auto auto;
    border-radius: 25px 25px 0 0;
    background-color: transparent;
}

.lista-giochi h1{
    padding-top: 1%;
    text-align: center;
    border-width: 0 0 5px 0;
    border-style: solid;
    border-color: #9966cc;
    background-color: white;
    border-radius: 25px 25px 0 0;
}

.elencoLista{
    list-style-type: none;
    padding-left: 10px;
}

.cardInside{
    display: grid;
    grid-template-columns: 1fr 4fr auto;
    margin: 22px;
    align-items: center;
    background: white;
    border-radius: 10px;
    padding: 8px;
    min-height: 135px;
    transition: all 0.3s ease;
}

.cardInside .title_game{
    font-weight: 600;
}

.cardInside:hover{
    box-shadow: 5px 5px 3px 3px #888888;
    transform: translateY(-20px);
}

.cardInside a {
    text-decoration: none;
    color: black;
    transition-duration:0.3s;
}

.cardInside a:hover {
    color: #671cae;
}

.cardInside img{
    border-radius: 5px;
}

.cardInside > a:last-of-type{
    border-color: #3B1162;
    border-radius: 8px;
    background-color: #9966cc;
    text-decoration: none;
    color: white;
    padding: 8px 20px;
    transition: all 0.3s ease;
    font-weight: 600;
}

.cardInside > a:hover{
    background-color: #3B1162;
}

.column{
    display: contents;
}

.back-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    padding: 10px;
    color: white;
    background-color: var(--primary);
    border-radius: 50%;
    text-decoration: none;
    opacity: 0.2;
    transition: opacity 0.3s ease-in;
}

.back-to-top:hover {
    opacity: 1;
    background-color: var(--secondary);
}

html {   scroll-behavior: smooth; }

.showMore{
    border-color: #3B1162;
    border-radius: 8px;
    font-size: 35px;
    background-color: #9966cc;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
    font-weight: 600;
    margin: 10px auto;
    width: 220px;
    justify-content: center;
    display: none;
    padding: 5px;
}

.showMore:hover {
    background-color: #3B1162;
}

#loader_developer{
    margin: 10px auto;
}

@media ( max-width: 1130px ) {

    .info-grid {
        display: block;
        background-color: white;
        height: auto;
        border-radius: 25px;
    }

    .casa-vg {
        /* grid-column: 2/4; */
        /* grid-row: 1; */
        display: flex;
        justify-content: center;
    }

    .casa-vg h1 {
        border-width: 0 0 5px 0;
        font-size: 35px;
        text-align: center;
    }

    .info-uno, .info-due {
        padding: 15px;
    }

}

@media ( max-width: 650px ) {

    .info-casa {
        display: contents;
        padding-top: 0;
    }

    .casa-vg h1{
        padding: 10px;
        overflow-wrap: anywhere;
        text-align: center;
        margin: 0 10px 0 10px;
    }

    .cardInside {
        display: flow-root;
        margin: 22px;
    }

    .cardInside img {
        display: block;
        border-radius: 5px;
        margin: auto;
    }

    .other-info {
        padding: 10px;
        display: block;
        justify-content: space-evenly;
    }


    .elencoLista {
        padding-left: 0;
        text-align: center;
    }

    .cardInside > a:last-of-type {
        display: block;
        text-align: center;
        margin-top: 10px;
    }
}




