
* {
    font-size: 23px;
}

.color-purple {
    background-color: #9966cc;
    border-color: #9966cc;
}

.color-purple:hover {
    background-color: rebeccapurple;
    border-color: rebeccapurple;
}

.color-purple:focus-visible {
    background-color: rebeccapurple;
    border-color: rebeccapurple;
}

.arguments {
    text-decoration: underline;
    text-decoration-color: #9966cc;
    margin-top: 20px;
    margin-left: 1%;
}


#all-info {

    grid-template-columns: auto auto auto auto;

    grid-gap: 10px;

    background-color: #DDF;

    padding: 13px;

    border-radius: 0 0 25px 25px;

    margin: auto;

    justify-content: center;

    display: flex;

    width: fit-content;

    top: 50%;

    position: absolute;

    left: 50%;

    transform: translate(-50%, -85%);
}

.info {
    padding: 2px 5px;

}

ul li {
    list-style-type: none;
}

.gameName {

    font-weight: bolder;

    font-size: 150%;
}

#all-info #basicInformation li {
    text-align: -webkit-left;
    font-size: 25px;
}

.content-responsive {
    padding: 0px 15px;
    width: 100%;
    height: auto;
}

.bkgcolor {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}


footer {
    font-weight: 500;
}

.nav {
    width: 100%;
    height: auto;
    position: -webkit-sticky; /* solo per safari */
    position: sticky;
    top: 0;
}

.content-responsive .main {
    align-items: center;
    width: 220px;
    height: 300px;
    border: 1px solid black;
    display: flex;
}

.sticky-top {
    width: 100%;
}

#videos {
    margin-top: 20px;
    max-height: 360px;
    border: 1px solid #ddd;
    display: flex;
    overflow-x: auto;
    margin-bottom: 5%;

}

#videos::-webkit-scrollbar {
    width: 0;

}

#videos .video-player {


}

#screenshots {
    margin-top: 20px;

    border: 1px solid #ddd;
    display: flex;
    overflow-x: auto;
    margin-bottom: 5%;
    max-height: 500px;

}

#screenshots::-webkit-scrollbar {
    width: 0;
}

#screenshots .screenshot-image {

    background-color: #ddd;
    margin-right: 2px;
    padding-left: 2px;
    width: 480px;
    height: 300px;

}

#screenshots .screenshot-image:hover {
    opacity: 0.7;
}
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* Chat containers */
#cover {
    width: auto;
    height: fit-content;
}


/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;

}

/* Style images */
.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;

}

#review-container {
    overflow: auto;
    height: 20%;
}

.checked {
    color: orange;
}

a.info:hover {
    border-radius: 60%;

    background-color: lightgray;
}

#summary {
    margin: 20px 20px 20px 10px;
    border-radius: 15px;
    padding: 5px;
}

#summary:hover {
    box-shadow: -1px 1px 19px 6px rgba(0, 0, 0, 0.2);
}

section.other-info {
    display: grid;
    margin: 6px 30px 10px 30px;
    background-color: #DDF;
    border-radius: 25px 25px 25px 25px;
}