#main {
    font-size: 23px;
    font-family: Arial, sans-serif;
}

.Myreview {
    border: 2px solid #4747ec;
    background-color: #7e7eff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px;
    width: fit-content;
}


.arguments {
    text-decoration: underline;
    text-decoration-color: #9966cc;
    margin-top: 20px;
    margin-left: 1%;
    font-size: 28px;
}


#all-info {
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #DDF;
    padding: 13px;
    border-radius: 0 0 25px 25px;
    justify-content: center;
    display: flex;
    width: fit-content;
    box-shadow: 12px 11px 20px 11px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin: auto;

}

.info {
    padding: 2px 5px;
    font-size: 22px;
}

#all-info ul li {
    list-style-type: none;
}

.gameName {
    font-weight: bolder;
    font-size: 37px;
}

#all-info #basicInformation li {
    text-align: -webkit-left;
    font-size: 25px;
}

#all-info:hover {
    box-shadow: 12px 11px 3px 0px rgba(0, 0, 0, 0.2);
}

.content-responsive {
    padding: 0px 15px;
    width: 100%;
    height: auto;
}

.bkgcolor {
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


footer {
    font-weight: 500;
}


.sticky-top {
    width: 100%;
}

#list {
    border-radius: 7px;
    background-color: #acacff;
    transition: all 0.3s ease;
    height: fit-content;
    float: left;
    padding: 0.5vh;
    width: 100%;
    font-size: 19px;
}

#list:hover {
    background-color: #7b7bff;
    cursor: pointer;
}

button.add-remove {
    border-radius: 7px;
    width: 100%;
    text-align: center;
    margin-top: 3px;
    height: 28px;
    transition: all 0.3s ease;
    font-size: 19px;
    color: black;
}

button.add-remove:after {
    content: '\2713 Added to your list';
}

button.add-remove {
    background-color: #0b8f0b;
}

button.add-remove:hover {
    background-color: red;
    transition: all 0.3s ease;
    cursor: pointer;
}

button.add-remove:hover:after {
    content: "Delete from your list";

}

button.sendButton {
    border-radius: 7px;
    background-color: #acacff;
    transition: all 0.3s ease;
    height: 2vh;
    margin-left: 10px;
    border-radius: 7px;
    height: 50px;
    width: 50px;

}

.sendButton:hover {
    background-color: #7b7bff;
}

#videos {
    margin-top: 20px;
    display: flex;
    overflow-x: auto;
    margin-bottom: 5%;
}

#videos::-webkit-scrollbar {
    width: 0;
}

#videos .video-player {
    padding-right: 2px;
    top: 0;
    left: 0;
    width: 640px;
    height: 385px;
}

#screenshots {
    margin-top: 20px;
    display: flex;
    overflow-x: auto;
    margin-bottom: 5%;
}

#screenshots::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #9966cc;
    border-radius: 15px;
}

#screenshots .screenshot-image {
    margin-right: 2px;
    padding-left: 2px;
    width: 50%;
    height: auto;
}


.review {
    border: 2px solid #acacff;
    background-color: #b5b5ff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px;
    width: fit-content;
}


#cover {
    width: auto;
    height: fit-content;
}


.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.review::after {
    content: "";
    clear: both;
    display: table;

}

.review img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

#review-container {
    overflow: auto;
    max-height: 320px;
    margin-bottom: 20px;
}

.checked {
    color: orange;
}

a.info:hover {
    border-radius: 10%;
    border-radius: 10px;
    background-color: #a7a7f5;
}

a.info {
    padding: 5px;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

a.info:visited {
    text-decoration: none;
}

#summary {
    margin: 20px 20px 20px 10px;
    border-radius: 15px;
    padding: 5px;
    font-size: 22px;
    transition: all 0.3s ease;
}

#summary:hover {
    box-shadow: 18px -6px 8px 15px rgba(0, 0, 0, 0.2);
}

section.other-info {
    display: grid;
    margin: 1vh 2vw 0 2vw;
    background-color: #DDF;
    border-radius: 25px 25px 25px 25px;

}

section {
    padding-bottom: 2px;
    display: flex;
}


textarea#reviewText {
    outline: none;
}

input#quantity {
    outline: none;
}

@media (min-device-width: 280px) and (max-device-width: 640px) {
    body {
        font-size: 18px;
    }

    #all-info {
        display: block;
        padding: 0 11px;
        /* max-width: -webkit-fill-available; */
        max-width: 100vw;
        overflow-wrap: break-word;
    }

    #cover {
        display: none;
    }

    #videos {
        display: none;
    }

    #videos-section {
        display: none;
    }


    section.other-info {
        display: block;
        margin: 0;
    }

    #summary {
        text-align: justify;
    }

    .arguments {
        text-align: center;
    }

    .Myreview {
        max-width: 100vw;

    }

    div.review {
        max-width: 100vw;

    }

    #screenshots {
        width: 100vw;
    }

    #screenshots .screenshot-image {

        height: 30vh;
        width: auto;
    }

    input#quantity {
        height: 4vh;
    }
}

@media (min-device-width: 768px) and (max-device-width: 1024px) {

    #all-info {
        padding: 0 11px;
        max-width: 100vw;
        overflow-wrap: break-word;
    }

    section.other-info {
        display: block;
        margin: 0;
    }

    #summary {
        text-align: justify;
    }

    .arguments {
        text-align: center;
    }

    .Myreview {
        max-width: 100vw;
    }

    div.review {
        max-width: 100vw;
    }

    #screenshots {
        width: 100vw;
    }

    #screenshots .screenshot-image {
        height: 30vh;
        width: auto;
    }

    input#quantity {
        height: 4vh;
    }
}