* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	font-family: "Raleway", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1em;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main > section {
	width: 70%;
}

main > section > section {
	padding: 20px;
}

.background {
	z-index: -1;
	width: 100%;
	height: 300px;
	background-color: #919191;
}

.account-options {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	top: -30px;
	background-color: white;
	height: 80px;
	border-radius: 10px 10px 0 0;
	/*border-top: solid 1px #222;*/
	/*border-left: solid 1px #222;*/
	/*border-right: solid 1px #222;*/
}

.avatar-img {
	position: absolute;
	bottom: 20px;
	width: 200px;
	height: 200px;
	background-color: white;
	border-radius: 5px;
	border: solid #ccc 5px;
	box-shadow: #00000099 0 0 10px 0;
}

.usrnm {
	position: relative;
	top: 0;
	left: 220px;
	font-size: 1.5em;
	padding: 5px;
	border-radius: 5px;
	color: black;
	background-color: white;
	transition: top 0.1s ease;
}

.btn span {
	cursor: pointer;
	text-transform: capitalize;
	padding: 10px;
	font-size: 1.3em;
	border-radius: 5px;
	text-decoration: none;
	color: black;
	background-color: #ccc;
	margin-left: 10px;
}

.btn span:hover {
	background-color: #777;
}

span.edit-btn {
	color: white;
	background-color: var(--primary);
}

span.edit-btn:hover {
	background-color: var(--secondary);
}

.info-edit-panel {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.info {
	display: grid;
	grid-template-columns: 1fr 2fr;
	row-gap: 10px;
	column-gap: 20px;
	width: 50%;
	font-size: 1.3em;
}

.info input {
	font-size: 1em;
	padding: 0 10px;
}

.info input[type="file"] {
	font-size: 0.8em;
	padding: 0;
}

.delete-btn {
	cursor: pointer;
	display: flex;
	align-items: center;
	font-size: 0.5em;
	color: red;
}

.delete-btn:hover {
	text-decoration: underline;
}

.bio {
	height: 100%;
}

.bio textarea {
	width: 350px;
	height: 145px;
	padding: 5px;
	resize: none;
	font-family: Arial, sans-serif;
	font-size: 1em;
	outline: none;
}

.reviews {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	row-gap: 10px;
}

.reviews:before {
	content: "My Game Reviews";
	display: block;
	width: 80%;
	margin: 40px auto 25px auto;
	padding: 5px;
	box-shadow: #ececec 0 -10px 12px 1px;

	font-size: 2rem;
	font-weight: 600;
	text-align: center;
	border-bottom: solid var(--primary) 5px;
	border-radius: 15px 15px 0 0;
}

.review {
	border-top: solid lightgrey 1px;
	border-bottom: solid lightgrey 1px;
	cursor: pointer;
	display: flex;
	column-gap: 15px;
	min-height: 260px;
	width: 100%;
}

.review .game-img {
	display: flex;
	width: 200px;
	justify-content: center;
	align-items: center;
}

.game-img img {
	width: 200px;
}

.rev-info {
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	row-gap: 15px;
	align-items: flex-start;
}

.rev-info p {
	overflow: hidden;
	text-align: justify;
}

.about-panel {
	display: block;
}

.edit-about-panel {
	display: none;
}

.list-panel {
	display: none;
}

.game {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: #252525;
	color: white;
	padding: 20px;
	font-size: 1.5em;
	margin-bottom: 10px;
}

.game img {
	width: 120px;
	height: 120px;
	background-color: white;
	font-size: 1rem;
}

.game i {
	font-size: 2rem;
	background: red;
}
@media screen and (max-width: 1340px) {
	.info {
		font-size: 1em;
	}

	.delete-btn {
		font-size: 0.7em;
	}
}
@media screen and (max-width: 1200px) {
	.info-edit-panel {
		flex-direction: column-reverse;
		justify-content: space-between;
		align-items: center;
	}

	.info {
		width: 100%;
	}

	.bio {
		font-size: 1.3em;
		width: 100%;
		margin-bottom: 20px;
	}

	.bio textarea {
		width: 100%;
	}

	.usrnm {
		top: -2em;
	}

	.delete-btn {
		font-size: 0.7em;
	}
}

@media screen and (max-width: 980px) {
	main > section {
		width: 100%;
	}
}