* {
	font-family: Arial, sans-serif;
}

body {
	background: url(../images/alredyRegister.png) no-repeat;
	background-size: 50%;
	background-position-x: center;
	background-position-y: 260px;
}

.testo {
	margin: 150px 0;
}

.parametro {
	color: #9966cc;
}

.image {
	display: flex;
	margin: auto;
	justify-content: center;
	margin: 100px 0;
}

h1 {
	text-align: center;
}

img {
	width: 50%;
	height: 50%;
}