* {
	font-family: Arial, sans-serif;
}

.form-group, .form-control {
	font-family: Arial, sans-serif;
	font-size: 20px;
}

.form-group {
	display: grid;
	margin: 20px 0;
}

.divBottone {
	display: flex;
	justify-content: center;
	margin: 15px 0;
}

.bottone {
	font-size: 25px;
	color: white;
	border-radius: 8px;
	transition: all 0.3s ease;
	cursor: pointer;
}

.bottone:hover {
	background: #3B1162;
}

.form-control {
	border-radius: 10px;
	height: 30px;
}


.form {
	display: grid;
	place-items: center;
	margin: auto;
}

.oppure {
	display: flex;
	justify-content: center;
	color: white;
}


.toHide {
	display: none;
}

.syllabus {
	margin-bottom: 20px;
	background-image: url("../images/sillabus.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: calc(1920px / 3);
	height: calc(545px / 3);
	cursor: pointer;
}

.loginButtons {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 10px 0;
}


body {
	background-color: white;
	margin: 0;
	padding: 0;
	overflow: hidden;
}


.color-purple {
	background-color: #9966cc;
	border-color: #9966cc;
}

.color-purple:hover {
	background-color: rebeccapurple;
	border-color: rebeccapurple;
}

.color-purple:focus-visible {
	background-color: rebeccapurple;
	border-color: rebeccapurple;
}

.regBackground {
	/*background-image: url("../images/regBackground.jpg");*/
	/*background-image: url("https://media.giphy.com/media/JQvmnoy5uZ51vWSeMu/source.gif");*/
	filter: blur(5px);
	-webkit-filter: blur(5px);
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transform: scale(1.2);
}

.container {
	padding: 10px;
	text-align: center;
	background: #18181840;
	border-radius: 20px;
	transition: all 0.3s ease-in;
}

.container:hover {
	box-shadow: 0px 8px 14px 3px #6e6d6d5c;
}

.divisor {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	padding: 20px;
	transform: translate(-50%, -50%);
}

.iscritti {
	color: white;
	margin: auto;
	width: 50%;
	height: 25%;
	padding: 5px;
}

.containerInfo {
	text-align: center;
	background: #18181820;
	border-radius: 20px;
	transition: all 0.3s ease-in;
	padding: inherit;
}

.nIscritti {
	color: #9966cc;
}

label {
	color: white;
}


input {
	background-color: #181818;
	color: white;
	border: none;
	outline: none;
	transition: all 0.3s ease;
}

input:placeholder-shown {
	background-color: #18181840;
}


